@import './partials/code.css';
@import './partials/placeholder.css';
@import './partials/lists.css';
@import './partials/typography.css';

:root {
  --minimal-tiptap-code-background: rgba(8, 43, 120, 0.047);
  --minimal-tiptap-code-color: rgb(212, 212, 212);
  --minimal-tiptap-secondary: rgb(157, 157, 159);
  --minimal-tiptap-pre-background: rgb(236, 236, 236);
  --minimal-tiptap-pre-border: rgb(224, 224, 224);
  --minimal-tiptap-pre-color: rgb(47, 47, 49);
  --minimal-tiptap-hr: rgb(220, 220, 220);
  --minimal-tiptap-drag-handle-hover: rgb(92, 92, 94);

  --mt-accent-bold-blue: #05c;
  --mt-accent-bold-teal: #206a83;
  --mt-accent-bold-green: #216e4e;
  --mt-accent-bold-orange: #a54800;
  --mt-accent-bold-red: #ae2e24;
  --mt-accent-bold-purple: #5e4db2;

  --mt-accent-gray: #758195;
  --mt-accent-blue: #1d7afc;
  --mt-accent-teal: #2898bd;
  --mt-accent-green: #22a06b;
  --mt-accent-orange: #fea362;
  --mt-accent-red: #c9372c;
  --mt-accent-purple: #8270db;

  --mt-accent-blue-subtler: #cce0ff;
  --mt-accent-teal-subtler: #c6edfb;
  --mt-accent-green-subtler: #baf3db;
  --mt-accent-yellow-subtler: #f8e6a0;
  --mt-accent-red-subtler: #ffd5d2;
  --mt-accent-purple-subtler: #dfd8fd;

  --hljs-string: rgb(170, 67, 15);
  --hljs-title: rgb(176, 136, 54);
  --hljs-comment: rgb(153, 153, 153);
  --hljs-keyword: rgb(12, 94, 177);
  --hljs-attr: rgb(58, 146, 188);
  --hljs-literal: rgb(200, 43, 15);
  --hljs-name: rgb(37, 151, 146);
  --hljs-selector-tag: rgb(200, 80, 15);
  --hljs-number: rgb(61, 160, 103);
}

.dark {
  --minimal-tiptap-code-background: rgba(255, 255, 255, 0.075);
  --minimal-tiptap-code-color: rgb(44, 46, 51);
  --minimal-tiptap-secondary: rgb(89, 90, 92);
  --minimal-tiptap-pre-background: rgb(8, 8, 8);
  --minimal-tiptap-pre-border: rgb(35, 37, 42);
  --minimal-tiptap-pre-color: rgb(227, 228, 230);
  --minimal-tiptap-hr: rgb(38, 40, 45);
  --minimal-tiptap-drag-handle-hover: rgb(150, 151, 153);

  --mt-accent-bold-blue: #85b8ff;
  --mt-accent-bold-teal: #9dd9ee;
  --mt-accent-bold-green: #7ee2b8;
  --mt-accent-bold-orange: #fec195;
  --mt-accent-bold-red: #fd9891;
  --mt-accent-bold-purple: #b8acf6;

  --mt-accent-gray: #738496;
  --mt-accent-blue: #388bff;
  --mt-accent-teal: #42b2d7;
  --mt-accent-green: #2abb7f;
  --mt-accent-orange: #a54800;
  --mt-accent-red: #e2483d;
  --mt-accent-purple: #8f7ee7;

  --mt-accent-blue-subtler: #09326c;
  --mt-accent-teal-subtler: #164555;
  --mt-accent-green-subtler: #164b35;
  --mt-accent-yellow-subtler: #533f04;
  --mt-accent-red-subtler: #5d1f1a;
  --mt-accent-purple-subtler: #352c63;

  --hljs-string: rgb(218, 147, 107);
  --hljs-title: rgb(241, 213, 157);
  --hljs-comment: rgb(170, 170, 170);
  --hljs-keyword: rgb(102, 153, 204);
  --hljs-attr: rgb(144, 202, 232);
  --hljs-literal: rgb(242, 119, 122);
  --hljs-name: rgb(95, 192, 160);
  --hljs-selector-tag: rgb(232, 199, 133);
  --hljs-number: rgb(182, 231, 182);
}

.minimal-tiptap-editor .ProseMirror {
  @apply flex max-w-full flex-1 cursor-text flex-col;
  @apply z-0 outline-0;
}

.minimal-tiptap-editor .ProseMirror > div.editor {
  @apply block flex-1 whitespace-pre-wrap;
}

.minimal-tiptap-editor .ProseMirror .block-node:not(:last-child),
.minimal-tiptap-editor .ProseMirror .list-node:not(:last-child),
.minimal-tiptap-editor .ProseMirror .text-node:not(:last-child) {
  @apply mb-2.5;
}

.minimal-tiptap-editor .ProseMirror ol,
.minimal-tiptap-editor .ProseMirror ul {
  @apply pl-6;
}

.minimal-tiptap-editor .ProseMirror blockquote,
.minimal-tiptap-editor .ProseMirror dl,
.minimal-tiptap-editor .ProseMirror ol,
.minimal-tiptap-editor .ProseMirror p,
.minimal-tiptap-editor .ProseMirror pre,
.minimal-tiptap-editor .ProseMirror ul {
  @apply m-0;
}

.minimal-tiptap-editor .ProseMirror li {
  @apply leading-7;
}

.minimal-tiptap-editor .ProseMirror p {
  @apply break-words text-base leading-7;
}

.minimal-tiptap-editor .ProseMirror li .text-node:has(+ .list-node),
.minimal-tiptap-editor .ProseMirror li > .list-node,
.minimal-tiptap-editor .ProseMirror li > .text-node,
.minimal-tiptap-editor .ProseMirror li p {
  @apply mb-0;
}

.minimal-tiptap-editor .ProseMirror blockquote {
  @apply relative pl-3.5;
}

.minimal-tiptap-editor .ProseMirror blockquote::before,
.minimal-tiptap-editor .ProseMirror blockquote.is-empty::before {
  @apply absolute bottom-0 left-0 top-0 h-full w-1 rounded-sm bg-accent content-[''];
}

.minimal-tiptap-editor .ProseMirror hr {
  @apply my-3 h-0.5 w-full border-none bg-[var(--minimal-tiptap-hr)];
}

.minimal-tiptap-editor .ProseMirror-focused hr.ProseMirror-selectednode {
  @apply rounded-full outline outline-2 outline-offset-1 outline-muted-foreground;
}

.minimal-tiptap-editor .ProseMirror .ProseMirror-gapcursor {
  @apply pointer-events-none absolute hidden;
}

.minimal-tiptap-editor .ProseMirror .ProseMirror-hideselection {
  @apply caret-transparent;
}

.minimal-tiptap-editor .ProseMirror.resize-cursor {
  @apply cursor-col-resize;
}

.minimal-tiptap-editor .ProseMirror .selection {
  @apply inline-block;
}

.minimal-tiptap-editor .ProseMirror .selection,
.minimal-tiptap-editor .ProseMirror *::selection,
::selection {
  @apply bg-primary/40;
}

/* Override native selection when custom selection is present */
.minimal-tiptap-editor .ProseMirror .selection::selection {
  background: transparent;
}

[data-theme='slash-command'] {
  width: 1000vw;
}
